In [117]:
#importing the packages
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import datetime as dt
from keras.models import Sequential
from keras.layers import LSTM,Dropout,Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import plotly.graph_objects as go
import plotly.express as px

In [118]:
def cattostr(cate):
    
    catname=['ATOC',
 'BEST',
 'CHRC',
 'DECE',
 'DGKH',
 'FAUC',
 'FCEM',
 'FYCC',
 'GHAR',
 'JAVA',
 'KOHC',
 'LUKC',
 'MPLF',
 'PION',
 'POWE',
 'SAFE',
 'THTA']
    try:
        if catname[0]==cate:
            return 101
        elif catname[1]==cate:
            return 102
        elif catname[2]==cate:
            return 103
        elif catname[3]==cate:
            return 104
        elif catname[4]==cate:
            return 105
        elif catname[5]==cate:
            return 106
        elif catname[6]==cate:
            return 107
        elif catname[7]==cate:
            return 108
        elif catname[8]==cate:
            return 109
        elif catname[9]==cate:
            return 110
        elif catname[10]==cate:
            return 111
        elif catname[11]==cate:
            return 112
        elif catname[12]==cate:
            return 113
        elif catname[13]==cate:
            return 114
        elif catname[14]==cate:
            return 115
        elif catname[15]==cate:
            return 116
        elif catname[16]==cate:
            return 117
    except:
        print("Error........")
    return np.nan
    
    
    
def outlair(v):
    try:
        filtr = int(float(str(v).replace(',','')))
        return filtr
    except:
        return 0

In [119]:
RawData=pd.read_csv(r"C:\Users\hp\Downloads\Complete Data combined.csv")

C:\Users\hp\AppData\Local\Temp\ipykernel_18228\3175235568.py:1: DtypeWarning:

Columns (3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.

Data Preprosessing W.R.T each Features

Total Features 7

# Raw Data Sample

In [120]:
RawData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71873 entries, 0 to 71872
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          71873 non-null  object
 1   full date     71873 non-null  int64
 2   Date          71873 non-null  object
 3   Price         71873 non-null  object
 4   Open          71873 non-null  object
 5   High          71873 non-null  object
 6   Low           71873 non-null  object
 7   Vol.          71873 non-null  object
 8   Vol full      71873 non-null  object
 9   change        71873 non-null  object
 10  value change  71873 non-null  int64
dtypes: int64(2), object(9)
memory usage: 6.0+ MB

Raw Data Sampling

In [121]:
RawData.sample(5)

,Name,full date,Date,Price,Open,High,Low,Vol.,Vol full,change,value change
9344,ATOC,31023,10/23/2003,14.99,15.49,15.7,14.83,150.45K,150450,-3.23%,0
37484,FYCC,180606,6/6/2018,15.4,15.73,15.77,15.36,30.99K,30990,-1.22%,0
38302,FYCC,150218,2/18/2015,5.63,5.76,5.76,5.54,30.99K,30990,-1.05%,0
27187,FAUC,210621,6/21/2021,23.85,24.01,24.3,23.8,1.28M,1280000,-1.24%,0
44750,JAVA,210825,8/25/2021,46.25,48.33,48.33,45.83,463.20K,463200,-3.16%,0

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

In [122]:
RawData['Name'] = RawData['Name'].apply(lambda x:cattostr(x))
RawData=RawData[~RawData['Name'].isin([112])]
RawData=RawData.rename(columns={'full date':'Timestamp','Vol full':'Volume','value change':'ChangeValue','Name':'NameASid'})
RawData=RawData[['Timestamp','High','Low','Volume','ChangeValue','Price','Open','NameASid']]
RawData['Volume'] = RawData['Volume'].apply(lambda x: outlair(x))
RawData['High'] = RawData['High'].apply(lambda x: int(float(str(x).replace(',',''))))
RawData['Low'] = RawData['Low'].apply(lambda x: int(float(str(x).replace(',',''))))
RawData['Timestamp'] = RawData['Timestamp'].apply(lambda x: int(float(str(x).replace(',',''))))
RawData['Price'] = RawData['Price'].apply(lambda x: int(float(str(x).replace(',',''))))
RawData['Open'] = RawData['Open'].apply(lambda x: int(float(str(x).replace(',',''))))
RawData=RawData[RawData['Price']>=0]
Process_Data = RawData.copy()

In [123]:
#df2['timestamp'] = pd.to_datetime(df2['timestamp'],unit='ms').dt.date
#df2[(df2['timestamp']==dt.date(1970,1,1)) & (df2['Id']==112)]

In [124]:
RawData

       Timestamp  High  Low   Volume  ChangeValue  Price  Open  NameASid
5000      211231   138  132    25200            0    133   132       101
5001      211230   136  132    13100            1    135   134       101
5002      211229   135  134    15000            0    134   134       101
5003      211228   135  134    21600            0    135   134       101
5004      211227   137  134     7700            0    137   135       101
...          ...   ...  ...      ...          ...    ...   ...       ...
71868      80415    23   22  3190000            1     23    22       117
71869      80414    24   22   570530            0     22    24       117
71870      80411    24   23  1570000            0     23    23       117
71871      80410    24   23  1550000            0     23    23       117
71872      80409    25   24  1730000            1     24    25       117

[66872 rows x 8 columns]

In [125]:
Process_Data.sample(5)

       Timestamp  High  Low  Volume  ChangeValue  Price  Open  NameASid
7889      100406    45   42  212810            0     43    45       101
15963      70523    33   32  613720            0     32    33       103
38142     151012     7    7    5270            1      7     7       108
6287      160928   216  212   69000            0    213   216       101
39312     110120     1    1  202820            1      1     1       108

In [126]:
Final_Data = Process_Data.copy()

In [127]:
final_dataset=Final_Data.values

In [128]:
X = Final_Data[['Timestamp','NameASid','Volume','High','Low','Open']]
#X = Final_Data[['Timestamp','Id','Volume','High','Low','Open']]
y = Final_Data[['Price']]

In [129]:
test_size=int(25/100*len(final_dataset))
x_train_data, X_test, y_train_data, y_test = train_test_split(X, y, test_size = 0.3,random_state = 101,shuffle=True)

In [130]:
x_train_data=x_train_data.values
y_train_data=y_train_data.values

In [131]:
len(x_train_data),len(X_test)

(46810, 20062)

In [132]:
x_train_data,y_train_data=np.array(x_train_data),np.array(y_train_data)
x_train_data=np.reshape(x_train_data,(x_train_data.shape[0],x_train_data.shape[1],1))

In [133]:
lstm_model=Sequential()
lstm_model.add(LSTM(units=50,return_sequences=True,input_shape=(x_train_data.shape[1],1)))
lstm_model.add(LSTM(units=50))
lstm_model.add(Dense(1))

In [ ]:
lstm_model.compile(loss='mean_squared_error',optimizer='adam')
lstm_model.fit(x_train_data,y_train_data,epochs=10,batch_size=1,verbose=2)

Epoch 1/10
46810/46810 - 124s - loss: 219.2336 - 124s/epoch - 3ms/step
Epoch 2/10
46810/46810 - 120s - loss: 17.6159 - 120s/epoch - 3ms/step
Epoch 3/10
46810/46810 - 121s - loss: 13.0765 - 121s/epoch - 3ms/step
Epoch 4/10
46810/46810 - 121s - loss: 10.4390 - 121s/epoch - 3ms/step
Epoch 5/10

In [ ]:
predictions=lstm_model.predict(X_test.values)

In [ ]:
result = X_test
result['price'] = y_test['Price']
result['prediction'] = predictions.tolist()

In [ ]:
r2 = r2_score(y_test.values.ravel(), predictions)

In [ ]:
print("Model Accuracy is: "+str(round(r2*100)))

In [ ]:
2653*100/30

In [ ]:
30/100*71872

In [ ]:
1883+800

Manual Model Predction

In [ ]:
#lstm_model.predict([[180109,23,23,159500]])

In [ ]:
ploting=result[['Timestamp','price','prediction','NameASid']]

In [ ]:
ploting['prediction'] = ploting['prediction'].apply(lambda x:round(x[0],1))

In [ ]:
ploting['date_'] = pd.to_datetime(ploting['Timestamp'],unit='s')
#ploting['Time'] = pd.to_datetime(ploting['Timestamp'],unit='s').dt.time

In [ ]:
#ploting =ploting.head(50)

In [ ]:
#ploting=ploting[ploting['NameASid'].isin([116])]

In [ ]:
del ploting['Timestamp']

In [ ]:
ploting=ploting[ploting['NameASid'].isin([116])]

In [ ]:

ploting =ploting.sample(50)

In [ ]:


fig = go.Figure()

fig.add_trace(go.Line(
   x = [list(ploting['NameASid']),list(ploting['date_'])],
        y = list(ploting['price']),
  name = "Actual Price",
))
fig.add_trace(go.Line(
  x = [list(ploting['NameASid']),list(ploting['date_'])],
  y = list(ploting['prediction']),
  name = "Prediction",
))

fig.update_layout(title_text="Price Prediction")
#fig.update_xaxes(rangeslider_visible=True)
#fig.update_layout(hovermode="x unified")

fig.show()

In [ ]:
d=pd.date_range(start ='2022-6-1', end ='2022-6-5', freq ='23h')

In [ ]:
date = []
for i in d:
    date.append(i)

In [ ]:
p_df={'Timestamp':date,'NameASid':[116,116,116,116,116],'Volume':[50000,3100000,161700,191700,30170],'High':[40,16,61,30,20],'Low':[35,10,60,26,18],'Open':[20,8,55,15,10]}

In [ ]:
p_df_1=pd.DataFrame(p_df)

In [ ]:
p_df_1['Timestamp'] = p_df_1['Timestamp'].apply(lambda x:pd.to_datetime(x).timestamp())

Data Feed to Model for predction

In [ ]:
predictions=lstm_model.predict(p_df_1.values)

In [ ]:
p_df_1['prediction'] = predictions.tolist()

In [ ]:
p_df_1['prediction'] = p_df_1['prediction'].apply(lambda x:round(x[0],1))

In [ ]:
p_df_1['date_'] = p_df_1['Timestamp'].apply(lambda x:pd.to_datetime(x,unit='s'))

In [ ]:
p_df_1 = p_df_1[['date_','NameASid','prediction']]

In [ ]:
model_pri=pd.concat([ploting,p_df_1])

In [ ]:


fig = go.Figure()

fig.add_trace(go.Line(
   x = [list(model_pri['NameASid']),list(model_pri['date_'])],
        y = list(model_pri['price']),
  name = "Actual Price",
))
fig.add_trace(go.Line(
  x = [list(model_pri['NameASid']),list(model_pri['date_'])],
  y = list(model_pri['prediction']),
  name = "Prediction",
))

fig.update_layout(title_text="Price Prediction")

fig.show()

#####

In [115]:
ploting.columns.to_list()

['price', 'prediction', 'NameASid', 'date_']

In [116]:
predictions=lstm_model.predict(X_test.values)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type int).

In [ ]:
X_test

In [ ]:
p_df

In [ ]:
p_df_1

In [62]:
d=lstm_model.predict([[180109,116,50001,40,35,20]])

1/1 [==============================] - 0s 29ms/step